@font-face {
	font-family: 'Gilroy-Light';
	src: url('./fonts/Gilroy-Light.otf') format('opentype');
	font-weight: light;
}

@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('./fonts/Gilroy-ExtraBold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'dev-rant';
	src: url('fonts/dev-rant.eot?uerc27');
	src: url('fonts/dev-rant.eot?uerc27#iefix') format('embedded-opentype'), url('fonts/dev-rant.ttf?uerc27') format('truetype'), url('fonts/dev-rant.woff?uerc27') format('woff'), url('fonts/dev-rant.svg?uerc27#dev-rant') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'dev-rant' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dev-rant:before {
	content: "\e900";
}

p {
	font-family: 'Gilroy-Light';
	margin: 1.5rem;
}

h1 {
	font-family: 'Gilroy-ExtraBold';
}

.columns {
	margin-left: 0!important;
	margin-right: 0!important;
}

.text-primary {
	color: #00d1b2
}

.text-danger {
	color: #ff3860
}

.fixed {
	position: fixed
}

.home-hero-title {
	font-family: 'Gilroy-Light';
	font-size: 3.5rem;
}

.home-hero-subtitle {
	font-family: 'Gilroy-ExtraBold';
	font-size: 4rem;
}

.text-center {
	text-align: center;
}

.fluid {
	width: 100%
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about {
	min-height: 100vh;
	background-color: #fafafa;
	font-size: 1.2rem;
}

.text-container {
	max-width: 600px;
}

.page {
	padding-top: 30px
}

.page-title {
	font-family: "Gilroy-Light";
}

.project {
	margin: 30px;
	text-align: center;
	min-width: 300px;
}

.github-infos {
	bottom: 0;
	margin: 15px
}

.project>a {
	padding-bottom: 5px;
	position: relative;
	display: inline;
}

.container-projects {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project>a:before {
	content: "";
	position: absolute;
	text-align: center;
	width: 75%;
	height: 1px;
	bottom: 0;
	left: 12.5%;
	border-bottom: 2px solid #00d1b2;
}

.title-skill {
	border-width: 2px;
	border-style: solid;
	border-color: #00d1b2;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
}

.skill {
	padding: 50px 15px
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	-moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -.5em;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		opacity: 1
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -.5em;
		opacity: 0
	}
	40% {
		opacity: .6
	}
	100% {
		opacity: 1
	}
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0
	}
	100% {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.not-selectable {
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}