<navbar></navbar>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title home-hero-title">
        Hello !
      </h1>
      <h2 class="subtitle home-hero-subtitle">
        I'm Aurèle
      </h2>
    </div>
  </div>
</section>
<i class="twa twa-heart"></i>
<section class="about center">
  <div class="container text-container">
    <h1 class="text-center title is-1">About me</h1>
    <p>My name is Aurèle, I live in a wonderful country ! I am still studying in highschool.</p>
	<p>Since the age of 10, I've always been passionated about computers and I was lucky enough to have a geeky family, this is the
      reason I've became the developer I am today. First I've learnt to program some Minecraft plugins in Java for fun then
      it became an addiction!</p>
	  <p>In the meantime I've learnt some programming languages like: Java; HTML5 & CSS3; JavaScript; PHP; Python; VB.NET and I can speak to databases.
      But I'm also experimented with the Adobe Suite, more precisly with: After Effect, Photoshop, and Illustrator.</p>
  </div>
</section>
<footer></footer>