<navbar></navbar>
<section class="hero is-fullheight is-primary" id="hero">
  <div class="hero-body">
    <div class="container has-text-centered tracking-in-expand not-selectable">
      <h1 class="title home-hero-title">
        Hello !
      </h1>
      <h2 class="subtitle home-hero-subtitle">
        I'm Aurèle
      </h2>
    </div>
  </div>
</section>
<i class="twa twa-heart"></i>
<section class="about center">
  <div class="container text-container text-focus-in">
    <h1 class="text-center title is-1">About me</h1>
    <p>My name is Aurèle, I live in France and I am still studying in highschool.</p>
	  <p>Since the age of 10, I've always been passionated about computers and I was lucky enough to have a family full of nerds, this is the
      reason I've became the developer I am today. I firstly learnt to program Minecraft plugins in Java for fun then
      it became a real passion!</p>
  </div>
</section>
<footer></footer>