<navbar></navbar>
<div class="page">
	<h1 class="title has-text-centered is-1 page-title tracking-in-expand">Projects</h1>
	<div class="container">
		<div class="columns">
			<div class="box column project scale-in-center">
				<a target="_blank" href="https://www.revizone.fr" class="title">ReviZone</a>
				<p>
					<a target="_blank" href="https://www.revizone.fr/">ReviZone</a> is a website made for students who want to learn their lessons very quickly!
				</p>
			</div>
			<div class="box column project scale-in-center">
				<a target="_blank" href="http://weather.oules.com" class="title">WeathR</a>
				<p>
					A simple Weather Station using <a target="_blank" href="https://material.io/guidelines/">Material Design</a> and <a target="_blank" href="https://facebook.github.io/react/">React</a>.
				</p>
			</div>
			<div class="box column project scale-in-center">
				<a target="_blank" href="http://aurele.oules.com" class="title">aureleoules</a>
				<p>
					This is my personal website.
				</p>
			</div>
			<div class="box column project scale-in-center">
				<a target="_blank" href="http://blog-aurele.oules.com" class="title">Blog</a>
				<p>
					This is my personal blog.
				</p>
			</div>
		</div>
		<div class="columns">
			<div class="box column project scale-in-center">
				<a target="_blank" href="http://www.clashofdecks.win" class="title">Clash of Decks</a>
				<p>
					A website that lets you create powerful decks for <a target="_blank" href="https://clashroyale.com/fr">Clash Royale</a>.
				</p>
			</div>
		</div>
	</div>
</div>