<navbar></navbar>
<div class="page">
	<h1 class="title has-text-centered is-1 page-title tracking-in-expand">Projects</h1>
	<div class="container container-projects">
		<div class="box column project scale-in-center" ng-repeat="repo in repos | orderBy: '-created_at'">
			<a target="_blank" ng-href="{{repo.html_url}}" class="title">{{repo.name}}</a>
			<p style="margin: 1rem">
				{{repo.description}}
			</p>
			<div class="github-infos">
				<span class="tag is-primary">{{repo.language}}</span>
				<a target="_blank" style="color: #363636" ng-href="{{repo.html_url}}/stargazers">
					<i class="fa fa-heart"></i> 
					{{repo.stargazers_count}}
				</a>
				<br>
				<p style="font-size: 0.8em; margin: 1rem">Updated {{moment(repo.updated_at).fromNow()}}</p>
				</div>
			</div>
		</div>
		<div class="columns">
		</div>
	</div>
</div>